#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 70px;
  position: relative;
}
.header {
  background-color: #212529;
  color: #eee;
  text-align: center;
  padding: 25px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.score-box {
  display: flex;
  align-items: center;
  gap: 80px;
}
.current-score-box {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 10px 20px;
  border-radius: 2rem;
  background-color: #fcc2d7;
  color: #444;
  font-weight: 600;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}
.high-score-box {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 10px 20px;
  background-color: #b2f2bb;
  border-radius: 2rem;
  color: #444;
  font-weight: 600;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}
.list {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: auto;
  list-style: none;
  gap: 3rem;
  margin: 0 auto 5.2rem;
  text-align: center;
}
.list-item {
  align-items: center;
  background-color: #eee;
  border-radius: 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  transition: 0.3s;
}
.list-item:hover {
  transition: 0.3s;
  transform: scale(1.1);
}
.caracter-img {
  max-height: 100px;
  object-fit: cover;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.679);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.game-over-box {
  background-color: #eee;
  position: absolute;
  top: 30%;
  left: 41.6%;
  z-index: 2;
  text-align: center;
  padding: 30px 60px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.game-over-p {
  font-weight: 600;
  color: #444;
  font-size: 20px;
}
.score-p {
  font-weight: 400;
  color: #444;
  font-size: 17px;
}
.play-again-btn {
  background-color: #212529;
  color: #eee;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10rem;
  border: none;
  cursor: pointer;
}
